#banner #banner-nav {
  @apply h-16;

  transition: 0.5s; /* Add a transition effect (when scrolling - and font size is decreased) */
  transform: translate(0, 0); /* Add a transform effect */

  #button-sandwich {
    @apply pt-0;
  }

  img {
    @apply relative pb-4 w-14;  
  }
} 

#banner #banner-nav.shrink {
  @apply h-12;

  transform: translate(0, -20px); /* Add a transform effect */
  transition: 0.5s;

  #button-sandwich {
    @apply pt-6;
  }

  img {
    @apply top-6 w-8;
  }
} 

@screen lg {
  #banner #banner-nav {
    @apply h-20;

    transition: 0.5s; /* Add a transition effect (when scrolling - and font size is decreased) */
    transform: translate(0, 0); /* Add a transform effect */

    #mobile-menu-3 {
      @apply pt-2;

      // img {
      //   width: 3.5rem;
      // }
    }
    
  } 

  #banner #banner-nav.shrink {
    @apply h-16;

    transform: translate(0, -20px); /* Add a transform effect */
    transition: 0.5s;
    
    #mobile-menu-3 {
      @apply pt-4;

      img {
        @apply top-0 w-10;
      }
    }
  }

}


// css header other pages than home
.page,
.single-product {
  .header-pages {
    ul.sub-menu {
      @apply bg-greymenu p-4;
  
      li {
        background-color: inherit;
      }
  
      li:hover {
        @apply bg-greymenuhover;
      }
    }
  }
}

@media (max-width: 992px) {
  .nav-primary {
    ul li {
      @apply my-4 lg:my-0;

      // background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
      // padding: 1rem;
      // background-color: red;
      // margin: 1.5rem 0 1rem 0;
    }
  }
}

.nav-primary {
  ul li {
    @apply my-4;

    a {
      @apply p-4 hover:bg-greynos;
    }

    // background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    // padding: 1rem;
    // background-color: red;
    // margin: 1.5rem 0 1rem 0;
  }
}

// @media (min-width: 992px) {
//   .home .nav-primary {
//     ul.sub-menu {
//       background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
//     }
//   }
// }

.menu-principal-container {
  @apply w-full;

  // box-shadow: 3px 8px 6px rgba(0, 0, 0, 0.2);

  ul#menu-menu {
    li {
      margin-bottom: 1rem;
    }

    .sub-menu {
      margin-left: 1rem;
    }

    li>a:not(:last-child)::after {
      content: " ▾";
    }

  }

}

@screen xl {

  .menu-principal-container {
    box-shadow: none;

    ul#menu-menu {

      li {
        margin-bottom: 0;

        a {

          @apply hover:text-gray-200;
        }
      }

      .sub-menu {
        margin-left: 0;
        display: none;
        position: absolute;
        top: 1.5rem;
        left: 0;
        z-index: 99999;
        visibility: hidden;
        opacity: 0;
        // min-width: 15rem;
        // max-width: 25rem;
        width: 30rem;
        transition: all 0.5s ease;
        // box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
        padding: 0.5rem 1rem 1rem 1rem;

        li {
          margin-bottom: 0.5rem;
        }
      }

      li:hover>ul,
      li:focus-within>ul,
      li ul:hover,
      li ul:focus {
        display: block;
        visibility: visible;
        opacity: 1;
      }
    }

    li {
      position: relative;
      // transition-duration: 0.5s;

      ul li {
        clear: both;
        width: 100%;
      }

      &:focus-within a {
        outline: none;
      }

      &:hover,
      &:focus-within {
        cursor: pointer;
      }
    }
  }
}